{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "chrome": "72",
          "ie": "11"
        },
        "useBuiltIns": false
      }
    ]
  ]
}
