* text=auto

LICENSE   text eol=lf
.git*     text eol=lf
.babelrc  text eol=lf
.jshintrc text eol=lf
*.html    text eol=lf
*.js      text eol=lf
*.json    text eol=lf
*.md      text eol=lf
*.tag     text eol=lf
